<html>
<head>
    <title>GearScore API</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style3.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}"/>

</head>

<body>
<div id="layers"></div>
<div class="layout nosidebar" id="layout">
    <div class="layout-inner" id="layout-inner">
        <div class="header" id="header">
        </div>
        <div id="wrapper" class="wrapper">
            <div class="toptabs" id="toptabs">
                <dl>
                    <dt>
                        <a href="#" class="unlinked active">README</a>
                    </dt>
                    <dt>
                        <a href="https://github.com/migzpogi/gearscoreapi">GitHub Page</a>
                    </dt>
                </dl>
            </div>
            <div class="main" id="main">
                <div class="main-contents" id="main-contents">
                    <table class="infobox">
                        <tbody>
                        <tr>
                            <th id="infobox-quick-facts">Quick Facts</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="infobox-spacer"></div>
                                <div>
                                    <ul class="first last">
                                        <li>
                                            <div>WOTLK 3.3.5a</div>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th id="infobox-screenshots">GitHub</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="infobox-spacer"></div>
                                <div id="infobox-sticky-ss">
                                    Check out my other stuff -
                                    <a href="https://migzpogi.github.io/">here</a>
                                    !
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text">
                        <a href="https://wotlkgs.com/?item=random" rel="np" class="button-red">
                            <em>
                                <b>
                                    <i>
                                        Random item
                                    </i>
                                </b>
                                <span>Random item</span>
                            </em>
                        </a>
                        <a href="https://wotlkdb.com/" rel="np" class="button-red">
                            <em>
                                <b>
                                    <i>
                                        New search
                                    </i>
                                </b>
                                <span>New search</span>
                            </em>
                        </a>
<!--                        <h1>Hi!</h1>-->
<!--                        <div id="ic54591" style="float: left">-->
<!--                            <div class="iconlarge">-->
<!--                                <ins style="background-image: url('https://wotlkdb.com/static/images/wow/icons/large/inv_misc_rubysanctum3.jpg');"></ins>-->
<!--                                <del></del>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div id="tt54591" class="wowhead-tooltip tooltip-slider" style="float: left; padding-top: 1px; width:320px; visibility: visible;">
                            <table>
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="white-space: nowrap; width: 100%">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <b>View an item's GearScore online.</b>
                                                    <br>
                                                    <br>
                                                    <span class="q2">Note: There might me some variations from the in-game one, but this is good enough for approximation.</span>
                                                    <br>
                                                    <span class="q2">Reference is Warmane, not retail WoW.</span>
                                                    <br>
                                                    <br>
                                                    <h2>Error</h2>
                                                    <ul>
                                                        <li>Please double check the item id in <a>/?item=xxxxx</a></li>
                                                    </ul>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>